body{
  background-color: #e6e6e6 !important;
}

.header {
  background: #fffffe;
  padding: 10px; 
  width: auto;
  height: auto; 
  text-align: center; 
  margin: auto;
}

.bodycontainer{
  border-radius: 25px;
  background: #fffffe;
  padding: auto; 
  width: auto;
  height: auto; 
  margin-left: 10px;
  margin-right: 10px;
}

.slidecontainer{
  margin: auto;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 5px;  
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  margin-bottom: 10px;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: #22a53c;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #22a53c;
  cursor: pointer;
}

.form{
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 25px;
}

input[type="number"] {
  clear: both;
  float: right;
  margin-bottom: 10px;
  width: 100px;
}

.center {
  margin: auto;
  padding: 10px;
  text-align: center;
}

.button {
  background-color: #04AA6D; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  width: 100%;
  border-radius: 5px;
}

.button1 {
  background-color: white; 
  color: black; 
  border: 2px solid #04AA6D;
}

.button1:hover {
  background-color: #04AA6D;
  color: white;
}
